body{
    background-color: peachpuff;
    color: rgba(45, 40, 40, 0.737);
    scroll-behavior: hidden;
    text-align: center;
    place-content: center;
    background-position: center;
    background-attachment: fixed;
}
h2{
    margin-top: 10px;
    font-size: 28px;
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: bold;
    font-style: normal;
}
input[type="text"]{
    width: 280px;
    margin-bottom: 10px;
    padding: 10px;
}
button{
    background: linear-gradient(to bottom, #800080, #ff69b4);
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    width: 100px;
    height: 40px;
    padding: 10px 20px;
    margin-left: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover{
    background: linear-gradient(to bottom,#6b006b, #ff55a3);
}