body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #333, #000, #1a2a40);
    margin: 0;
    padding: 0;
    scroll-behavior: hidden;
    background-position: center;
    background-attachment: fixed;
}

.container {
    max-width: 600px;
    margin: 100px auto;
    padding: 20px;
    background-color: #333;
    opacity: 0.8;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    color: #fff;
}

.input-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.lists-container {
    display: flex;
    justify-content: space-between;
}

.task-list {
    flex: 1;
    padding: 10px;
    background-color: #CCCCCC;
    border-radius: 3px;
    margin: 5px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
}

.completed-task {
    text-decoration: line-through;
    color: #888;
}

.delete-button {
    background-color: #ff4136;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 5px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #d80000;
}
